---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"project">["data"];
}

const { project } = Astro.props;
---

<div
  class="col-span-12 col-start-1 block pr-2 *:mb-4 *:border-b *:text-xl *:uppercase md:hidden"
>
  {
    [
      {
        key: "Year",
        value: project.year as string,
        isLink: false,
        isList: false,
      },
      ...project.table,
    ].map((kv) => {
      return (
        <div>
          <p class="space-mono-regular text-secondary text-xs uppercase">
            {kv.key}
          </p>
          {kv.isLink ? (
            <a
              class="hover:text-industrial-orange block transition-all"
              href={kv.value}
            >
              {new URL(kv.value).pathname.split("/").pop()}{" "}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 1 20 20"
                fill="currentColor"
                class="absolute inline size-7"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          ) : kv.isList ? (
            <p>
              {kv.value.split("/").map((v: string, i) => {
                return (
                  <>
                    <span class="uppercase">{v}</span>
                    {i < kv.value.split("/").length - 1 ? (
                      <span class="text-secondary">/</span>
                    ) : null}
                  </>
                );
              })}
            </p>
          ) : (
            <p>{kv.value}</p>
          )}
        </div>
      );
    })
  }
</div>
