---
interface Props {
    project: {
        year: number;
        table: Array<{
            key: string;
            value: string;
            isLink?: boolean;
            isList?: boolean;
            className?: string;
        }>;
    };
}

const { project } = Astro.props;
---

<div
    class="col-span-12 col-start-1 block pr-2 *:mb-4 *:border-b *:border-border"
>
    {
        [
            {
                key: "Year",
                value: project.year.toString(),
                isLink: false,
                isList: false,
                className: "",
            },
            ...project.table,
        ].map((kv) => {
            return (
                <div class="flex flex-col">
                    <p class="text-text-secondary text-xs uppercase font-mono">
                        {kv.key}
                    </p>
                    <div>
                        {kv.isLink ? (
                            <a
                                class="hover:text-text-secondary text-text-primary uppercase transition-colors duration-300"
                                href={kv.value}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {new URL(kv.value).pathname.split("/").pop() ||
                                    kv.value}{" "}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="inline-block size-4 align-text-bottom ml-1"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </a>
                        ) : kv.isList ? (
                            <p class="text-text-primary">
                                {kv.value.split("/").map((v: string, i) => {
                                    return (
                                        <>
                                            <span class="uppercase">{v}</span>
                                            {i <
                                            kv.value.split("/").length - 1 ? (
                                                <span class="text-text-secondary mx-1">
                                                    /
                                                </span>
                                            ) : null}
                                        </>
                                    );
                                })}
                            </p>
                        ) : (
                            <p
                                class={`text-text-primary ${kv.className || ""}`}
                            >
                                {kv.value}
                            </p>
                        )}
                    </div>
                </div>
            );
        })
    }
</div>
