@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@view-transition {
    navigation: auto;
}

@font-face {
    font-family: "Name Sans"; /*a name to be used later*/
    src:
        url("/NameSansVariable.woff2") format("woff2"),
        url("/NameSansVariable.ttf") format("truetype");
}

@theme {
    --font-sans: "Name Sans", "SF Pro Display", sans-serif;
    --color-background: oklch(0.9158 0 0);
    --color-border: oklch(0.6097 0.0015 106.44);
    --color-primary: oklch(0.2678 0.0016 106.46);
    --color-secondary: oklch(0.4994 0.0016 106.46);
    --color-tertiary: oklch(70.5% 0.213 47.604);
}
/*
@media (prefers-color-scheme: dark) {
    --color-background: oklch(21.6% 0.006 56.043);
    --color-border: oklch(37.4% 0.01 67.558);
    --color-text-primary: oklch(92.3% 0.003 48.717);
    --color-text-secondary: oklch(70.9% 0.01 56.259);
    --color-tertiary: oklch(70.5% 0.213 47.604);
}

[data-theme="dark"] {
    --color-background: oklch(21.6% 0.006 56.043);
    --color-border: oklch(37.4% 0.01 67.558);
    --color-text-primary: oklch(92.3% 0.003 48.717);
    --color-text-secondary: oklch(70.9% 0.01 56.259);
}*/

::selection {
    color: var(--color-background);
    background: var(--color-tertiary);
}

html,
body {
    scroll-behavior: smooth;
    font-variant-ligatures: normal;
    height: 100%;
    background-color: var(--color-background);
}

.carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
}
