@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@view-transition {
    navigation: auto;
}

@theme {
    --font-sans: "SF Pro Display", "sans-serif";
    --color-background: oklch(97% 0.001 106.424);
    --color-border: oklch(86.9% 0.005 56.366);
    --color-text-primary: oklch(26.8% 0.007 34.298);
    --color-text-secondary: oklch(55.3% 0.013 58.071);
    --color-tertiary: oklch(70.5% 0.213 47.604);
}

@media (prefers-color-scheme: dark) {
    --color-background: oklch(21.6% 0.006 56.043);
    --color-border: oklch(37.4% 0.01 67.558);
    --color-text-primary: oklch(92.3% 0.003 48.717);
    --color-text-secondary: oklch(70.9% 0.01 56.259);
    --color-tertiary: oklch(70.5% 0.213 47.604);
}

[data-theme="dark"] {
    --color-background: oklch(21.6% 0.006 56.043);
    --color-border: oklch(37.4% 0.01 67.558);
    --color-text-primary: oklch(92.3% 0.003 48.717);
    --color-text-secondary: oklch(70.9% 0.01 56.259);
}

::selection {
    color: var(--color-background);
    background: var(--color-tertiary);
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

html,
body {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Departure Mono"; /*a name to be used later*/
    src: url("/DepartureMono-Regular.otf"); /*URL to font*/
}

.font-departure-mono {
    font-family: "Departure Mono", monospace;
}

.animate-blink {
    animation: 3s ease-in 1s infinite reverse both running blink;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.blur-gradient-bottom {
    -webkit-backdrop-filter: blur(4px);
    background: linear-gradient(
        #fff0 0%,
        #ffffff1a 20%,
        #ffffff4d 40%,
        #ffffff80 60%,
        #ffffffb3 80%,
        #fffc 100%
    );
    -webkit-mask-image: linear-gradient(
        #0000 0%,
        #0006 20%,
        #0009 40%,
        #000c 60%,
        #000000e6 80%,
        #000 100%
    );
    mask-image: linear-gradient(
        #0000 0%,
        #0006 20%,
        #0009 40%,
        #000c 60%,
        #000000e6 80%,
        #000 100%
    );
}

.blur-gradient-top {
    -webkit-backdrop-filter: blur(4px);
    background: linear-gradient(
        #fffc 0%,
        #ffffffb3 20%,
        #ffffff80 40%,
        #ffffff4d 60%,
        #ffffff1a 80%,
        #fff0 100%
    );
    -webkit-mask-image: linear-gradient(
        #000 0%,
        #000000e6 20%,
        #000c 40%,
        #0009 60%,
        #0006 80%,
        #0000 100%
    );
    mask-image: linear-gradient(
        #000 0%,
        #000000e6 20%,
        #000c 40%,
        #0009 60%,
        #0006 80%,
        #0000 100%
    );
}

[data-theme="dark"] .blur-gradient-bottom {
    background: linear-gradient(
        oklch(21.6% 0.006 56.043 / 0) 0%,
        oklch(21.6% 0.006 56.043 / 0.1) 20%,
        oklch(21.6% 0.006 56.043 / 0.3) 40%,
        oklch(21.6% 0.006 56.043 / 0.5) 60%,
        oklch(21.6% 0.006 56.043 / 0.7) 80%,
        oklch(21.6% 0.006 56.043) 100%
    );
}

[data-theme="dark"] .blur-gradient-top {
    background: linear-gradient(
        oklch(21.6% 0.006 56.043) 0%,
        oklch(21.6% 0.006 56.043 / 0.7) 20%,
        oklch(21.6% 0.006 56.043 / 0.5) 40%,
        oklch(21.6% 0.006 56.043 / 0.3) 60%,
        oklch(21.6% 0.006 56.043 / 0.1) 80%,
        oklch(21.6% 0.006 56.043 / 0) 100%
    );
}

.carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
}
