---
import VerticalDivider from "../VerticalDivider.astro";
---

<footer>
    <div class="w-full px-4 py-8">
        <h2 class="text-text-secondary text-sm w-full text-center">
            Copyright © 2025 Will Baker.
        </h2>
    </div>
    <VerticalDivider />
</footer>
<div
    class="fixed bottom-0 left-0 right-0 h-[40px] z-50 pointer-events-none blur-gradient-bottom"
>
</div>
