---
import VerticalDivider from "../VerticalDivider.astro";
---

<footer class="w-full flex items-center justify-center">
    <div class="w-5/6 md:w-3/4 lg:w-1/2 px-4 py-8 border-x border-border">
        <h2 class="text-text-secondary text-sm w-full text-center">
            Copyright © 2025 Will Baker.
        </h2>
    </div>
</footer>
<div
    class="fixed bottom-0 left-0 right-0 h-[40px] z-50 pointer-events-none blur-gradient-bottom"
>
</div>
