---
import MainLayout from "../layouts/MainLayout.astro";
import VerticalDivider from "../components/VerticalDivider.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import TestProject from "../components/test/TestProject.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";

import { getCollection } from "astro:content";

const testProject = await getCollection("test");
---

<MainLayout>
    <Header />
    <main class="w-5/6 md:w-3/4 lg:w-1/2 border-x border-border">
        <section id="test-project">
            {
                testProject.map((project, i) => {
                    if (i != 0) return null;

                    return (
                        <TestProject project={project.data} slug={project.id} />
                    );
                })
            }
        </section>
        <VerticalDivider />
        <Footer />
    </main>
</MainLayout>
