---
import AnimatedDot from "./AnimatedDot";

interface Props {
    project: {
        year: Date;
        table: Array<{
            key: string;
            value: string;
            isLink?: boolean;
            isList?: boolean;
            className?: string;
        }>;
    };
}

const { project } = Astro.props;

const formatDate = (date: Date) => {
    if (!date || isNaN(date.getTime())) {
        return "";
    }
    return date.toLocaleDateString("en-GB", {
        day: "numeric",
        month: "short",
        year: "numeric",
    });
};
---

<div class="col-span-12 col-start-1 block pr-2 *:not-last:mb-4">
    {
        [
            {
                key: "Date",
                value: formatDate(project.year),
                isLink: false,
                isList: false,
                className: "",
            },
            ...project.table,
        ].map((kv) => {
            return (
                <div class="flex flex-col">
                    <p class="text-text-secondary text-xs uppercase font-departure-mono">
                        {kv.key}
                    </p>
                    <div>
                        {kv.isLink ? (
                            <a
                                class="hover:text-text-secondary text-text-primary transition-colors duration-300 flex items-center"
                                href={kv.value}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <AnimatedDot
                                    client:load
                                    size="size-2"
                                    activationPercentage={0}
                                    style={{ marginRight: "8px" }}
                                    animationDuration={0}
                                />
                                {new URL(kv.value).pathname.split("/").pop() ||
                                    kv.value}{" "}
                            </a>
                        ) : kv.isList ? (
                            <p class="text-text-primary">
                                {kv.value.split("/").map((v: string, i) => {
                                    return (
                                        <>
                                            <span class="capitalize">{v}</span>
                                            {i <
                                            kv.value.split("/").length - 1 ? (
                                                <span class="text-text-secondary mx-1">
                                                    /
                                                </span>
                                            ) : null}
                                        </>
                                    );
                                })}
                            </p>
                        ) : (
                            <p
                                class={`text-text-primary ${kv.className || ""}`}
                            >
                                {kv.value}
                            </p>
                        )}
                    </div>
                </div>
            );
        })
    }
</div>
