<div class="w-screen -mx-8 relative">
    <div
        class="z-10 size-2 rotate-45 border-1 bg-white border-stone-300 absolute top-1/2 left-8 -translate-1/2"
    >
    </div>
    <hr class="w-full border-t border-stone-300" />
    <div
        class="z-10 size-2 rotate-45 border-1 bg-white border-stone-300 absolute top-1/2 right-8 -translate-y-1/2 translate-x-1/2"
    >
    </div>
</div>
