<div class="w-full relative">
    <div
        class="z-10 size-2 rotate-45 border-1 bg-white border-stone-300 absolute top-1/2 left-0 -translate-1/2"
    >
    </div>
    <div
        class="z-10 size-2 rotate-45 border-1 bg-white border-stone-300 absolute top-1/2 right-0 -translate-y-1/2 translate-x-1/2"
    >
    </div>
</div>
<hr class="w-screen absolute left-0 border-t border-stone-300" />
