---
interface Props {
    sticky?: boolean;
}

const { sticky } = Astro.props;
---

<div class="w-full relative">
    <div
        class="z-10 size-2 rotate-45 border-1 bg-background border-border absolute top-1/2 left-0 -translate-1/2"
    >
    </div>
    <div
        class="z-10 size-2 rotate-45 border-1 bg-background border-border absolute top-1/2 right-0 -translate-y-1/2 translate-x-1/2"
    >
    </div>
</div>
<hr
    class={`w-screen absolute border-t border-border ${sticky ? "" : "left-0"}`}
    style={sticky ? "left: 50%; margin-left: -50vw;" : ""}
/>
