---
import MainLayout from "../../layouts/MainLayout.astro";
import VerticalDivider from "../../components/VerticalDivider.astro";

import { getCollection } from "astro:content";

// Get the slug from the URL params
export async function getStaticPaths() {
    const writings = await getCollection("writings");
    return writings.map((writing) => ({
        params: { title: writing.id.replace(/\.md$/, "") },
        props: { writing },
    }));
}

const { writing } = Astro.props;
const content = writing.rendered?.html;

import { formatDate } from "../../utils/date";
---

<MainLayout>
    <main class="w-5/6 md:w-3/4 lg:w-1/2 border-x border-border bg-background">
        <div class="px-4 py-8">
            <a
                href="/#writing"
                class="text-sm text-text-secondary hover:opacity-75 transition-all font-departure-mono flex items-center gap-1"
            >
                <svg
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="size-4 inline mr-1"
                >
                    <path
                        d="M20 11v2H8v2H6v-2H4v-2h2V9h2v2h12zM10 7H8v2h2V7zm0 0h2V5h-2v2zm0 10H8v-2h2v2zm0 0h2v2h-2v-2z"
                        fill="currentColor"></path>
                </svg>
                Back to all writings
            </a>
        </div>
        <VerticalDivider />
        <article
            class="p-4 px-4 prose prose-sm md:prose-base prose-stone dark:prose-invert max-w-none prose-p:text-text-primary prose-h2:mb-2 prose-h2:font-normal"
        >
            <p
                class="not-prose w-full text-xs flex justify-between font-departure-mono text-text-secondary"
            >
                <span class="lowercase">[{writing.data.type}]</span>{" "}
                <span class="uppercase">
                    {formatDate(writing.data.date)}
                </span>
            </p>
            <h1 class="not-prose text-3xl text-text-primary my-4">
                {writing.data.title}
            </h1>
            <Fragment set:html={content} />
        </article>
        <VerticalDivider />
    </main>
</MainLayout>

<style>
    .prose {
        color: var(--color-text-primary);
    }

    .prose a {
        color: var(--color-text-primary);
        text-decoration: underline;
    }

    .prose a:hover {
        opacity: 0.75;
    }
</style>
